/*font-family: 'Wallpoet', cursive;*/ /*CALIGRAFIA PARA TEXTOS*/
/*COMIENZO NAVBAR*/
.navbar-brand {
    font-size: 1.5rem;
    margin-right: 4rem;
  }
  .nav-link {
    font-size: 1.2rem;
    margin-right: 1.5rem;
  }
  .navbar-toggler {
    border: none;
    outline: none;
  }
  .navbar-toggler-icon {
    background-image: url('https://cdn1.iconfinder.com/data/icons/basic-ui-elements-coloricon/21/23_-_Menu_List_Nav_Lines_List_Menu_Short_Nav_Menu_List-512.png');
    width: 40px;
    height: 40px;
    background-size: contain;
  }
  .navbar-toggler:focus {
    outline: none;
  }
  .form-control {
    border-radius: 0;
  }

  footer {
    background-color: #f8f9fa;
    color: #707070;
    font-size: 16px;
    padding: 60px 0px;
  }
  
  footer h5 {
    font-weight: 700;
    font-size: 18px;
  }
  
  footer i {
    color: #707070;
  }
  
  footer a:hover i {
    color: #46a2e3;
  }
  
  @media screen and (max-width: 768px) {
    footer {
      text-align: center;
    }
  }


/*FIN NAVBAR*/



.title-idx{
  
  justify-content: end;
  font-family: 'Wallpoet', cursive;
  text-align: center;
    
}

.text-idx{
  font-size: medium;
  display: flex;
  justify-content: flex-start;
  

}

.cali{
    font-family: 'Wallpoet', cursive;
    
}




.txt-idx{

  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: medium;

}

.tbl {
  border-collapse: collapse;
  width: 100%;
}

.tbl th, .tbl td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}



#shopping-cart {
	margin: 40px;
}

#grilla-productos {
	margin: 40px;
}

#shopping-cart table {
	width: 100%;
	background-color: #F0F0F0;
}

#shopping-cart table td {
	background-color: #FFFFFF;
}

.txt-heading {
	color: #211a1a;
	border-bottom: 1px solid #E0E0E0;
	overflow: auto;
}

#botonVaciar {
	background-color: #ffffff;
	border: #d00000 1px solid;
	padding: 5px 10px;
	color: #d00000;
	float: right;
	text-decoration: none;
	border-radius: 3px;
	margin: 10px 0px;
}

.botonAgregarAccion {
    padding: 5px 10px;
    margin-left: 5px;
    background-color: #efefef;
    border: #E0E0E0 1px solid;
    color: #211a1a;
    float: right;
    text-decoration: none;
    border-radius: 3px;
    cursor: pointer;
}

#product-grid .txt-heading {
	margin-bottom: 18px;
}

.item-producto {
	margin: 5px;
	background: #ffffff;
	justify-items: baseline;
	
}

.product-image {
	height: 155px;
	width: 250px;
	background-color: #FFF;
}

.clear-float {
	clear: both;
}

.demo-input-box {
	border-radius: 2px;
	border: #CCC 1px solid;
	padding: 2px 1px;
}

.tabla-carrito {
	font-size: 0.9em;
}

.tabla-carrito th {
	font-weight: normal;
}

.product-title {
  color: #F0F0F0;
	margin-bottom: 20px;
}

.product-price {
	margin-right:20px;
	float:left;
}

.cart-action {
	float: right;
}

.cantidad-producto {
    padding: 5px 10px;
    border-radius: 3px;
    border: #E0E0E0 1px solid;
}

.product-tile-footer {
    padding: 15px 15px 0px 15px;
    overflow: auto;
}

.cart-item-image {
	width: 30px;
    height: 30px;
    border-radius: 50%;
    border: #E0E0E0 1px solid;
    padding: 5px;
    vertical-align: middle;
    margin-right: 15px;
}
.no-hay-nada {
  justify-content:center;
	text-align: center;
	clear: both;
	margin: 38px 0px;
}

#botonComprar {
	background-color: #ffffff;
	border: #d00000 1px solid;
	padding: 5px 10px;
	color: #d00000;
	float: right;
	text-decoration: none;
	border-radius: 3px;
	margin: 10px 0px;
}